@using WebShop.Classes;
@using System.Text.RegularExpressions;

@{
    Layout = "~/Pages/MasterAdmin.cshtml";

    /*
    var products = new DataBase().GetDummyProducts(3);

    var value = products.Sum(x => x.Price);
    */

    var repoProducts = new ProductsRepository();

    if (Request.Form["action"] == "update" || Request.Form["action"] == "add")
    {
        Product product = new Product()
        {
            Artnr = int.Parse(Request.Form["id"]),
            Title = Request.Form["title"],
            Description = Request.Form["description"],
            BuyPrice = int.Parse(Request.Form["buyprice"]),
            Price = int.Parse(Request.Form["retailprice"]),
            Size = Request.Form["size"],
            Color = Request.Form["color"],
            Gender = Request.Form["gender"],
            ArrivalDate = Request.Form["action"] == "add" ? DateTime.Now.ToShortDateString(): null
        };

        HttpPostedFileBase file = Request.Files["image"];

        if (file != null && file.ContentLength > 0)
        {
            int index = file.FileName.LastIndexOf(".") + 1;
            var fileEnding = file.FileName.Substring(index);
            string fileName = "product" + Request.Form["id"] + "." + fileEnding;
            var path = Constants.PathProductsImages;
            string fullPath = Server.MapPath(Path.Combine(path, fileName));

            file.SaveAs(fullPath);

            product.ImageUrl = path + fileName;
        }

        if(Request.Form["action"] == "update") {
            repoProducts.UpdateProduct(product);
        }
        else
        {
            repoProducts.AddProduct(product);
        }
    }

    if (Request.QueryString["remove"] != null)
    {
        var id = int.Parse(Request.QueryString["remove"]);
        repoProducts.RemoveProduct(id);
    }

    var products = repoProducts.GetProducts();
    var value = products.Sum(x => x.Price);

    var repoOrders = new OrdersRepository();
    var ordersTotal = repoOrders.GetOrdersValue();
}



<div class="container" style="margin-top:100px">
    
    <h1>Lagersida ( produkter )</h1>

    @if (Request.QueryString["remove"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Product with id @Request.QueryString["remove"] removed.
        </div>
    }

    @if (Request.Form["action"] == "update")
    {
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            <span class="sr-only">Update:</span>
            Product with id @Request.Form["id"] updated.
        </div>
    }

    @if (Request.Form["action"] == "add")
    {
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            <span class="sr-only">Created:</span>
            Product with id @Request.Form["id"] created.
        </div>
    }

    <div class="panel">
        <a href="~/Pages/Admin/Products/CreateUpdateProduct.cshtml" class="btn btn-default">Lägg till produkt</a>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Products</div>
        <!-- Table -->
        <table class="table">
            <tr>
                <th>Artnr</th>
                <th>Titel</th>
                <th>Inköpspris</th>
                <th>Pris</th>
                <th></th>
            </tr>
            @foreach (var item in products)
            {
                <tr>
                    <td>@item.Artnr</td>
                    <td>@item.Title</td>
                    <td>@item.BuyPrice</td>
                    <td>@item.Price</td>
                    <td>
                        <a href="CreateUpdateProduct.cshtml?id=@item.Artnr" class="btn btn-default">
                        <span class="glyphicon glyphicon-edit"></span>
                        Redigera</a>
                        <a href="?remove=@item.Artnr" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove"></span>
                        Ta bort</a>
                        <a href="~/Pages/ProductPage.cshtml?id=@item.Artnr" class="btn btn-default">
                            Produktsida
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>

          
    <div class="row">
        <div class="col-xs-6">

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Lagervärde</div>
        
                <div class="panel-body">
                    <strong>@value</strong> kr
                </div>
            </div>

        </div>
        <div class="col-xs-6">

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Ordervärde (lagda ordrar)</div>

                <div class="panel-body">
                    <strong>@ordersTotal</strong> kr
                </div>
            </div>

        </div>
    </div>





    </div>