@using WebShop.Classes;

@{
    Layout = "~/Pages/Master.cshtml";

    var products = new ProductsRepository().GetProducts();
    var category = Request.QueryString["category"];
    var title = "Alla produkter";

    if(category != null)
    {
        var categories = new string[] { "Herr", "Dam" };

        foreach (var item in categories)
        {
            if (category == item)
            {
                products = products.Where(x => x.Gender == item).ToList();
                title = item;
                break;
            }
        }
    }

    var logger = new Logger();
    logger.WriteLogMessage("User listing products category");
}
<div class="container" style="margin-top: 100px">
    
    <h2>@title</h2>

    <!-- Three columns of text below the carousel -->
    <div class="row">
        @foreach (var product in products)
        {
        <div class="col-lg-4" style="text-align: center; margin-bottom: 30px">
            <a href="~/Pages/ProductPage.cshtml?id=@product.Artnr">
                <img class="img-circle" src="@product.ImageUrl" alt="Generic placeholder image" width="140" height="140">
                </a>
            <h2>@product.Title</h2>
            <p>@product.Description</p>
            <form method="post">
                <input type="hidden" value="@product.Artnr" name="artnr" />
                <input class="btn btn-default" type="submit" value="Add to cart" name="addtocart" />
            </form>
        </div><!-- /.col-lg-4 -->
        }
    </div><!-- /.row -->

</div><!-- /.container -->
