@using WebShop.Classes;

@{
    Layout = "~/Pages/Master.cshtml";

    var id = int.Parse(Request.QueryString["id"]);

    var product = new ProductsRepository().GetProduct(id);

    var log = new Logger();
    log.WriteLogMessage("User viewing product #" + id);
}

<div class="container marketing" style="margin-top: 100px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="@product.ImageUrl" alt="Generic placeholder image" width="140" height="140">
            <h2>@product.Title</h2>
            <p>@product.Description</p>
            <p>Size: @product.Size</p>
            <p>Color: @product.Color</p>
            <form method="post">
                <input type="hidden" value="@id" name="artnr" />
                <!--
                <label for="amount">Antal:</label>
                <input type="text" value="" name="amount" />
                -->
                <div>
                    <input class="btn btn-default" type="submit" value="Add to cart" name="addtocart" />
                </div>
            </form>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

</div><!-- /.container -->
